<!--<h1>Public::CartItems#index</h1>-->
<!--<p>Find me in app/views/public/cart_items/index.html.erb</p>-->

<h2>ECサイト_カート画面 </h2>
<h2>所在＞app views public cart_items [index.html.erb]</h2>
<h2>URL＞cart_items</h2