<!--<h1>Public::Orders#confirm</h1>-->
<!--<p>Find me in app/views/public/orders/confirm.html.erb</p>-->

<h2>ECサイト_注文情報確認画面 </h2>
<h2>所在＞app views public orders [confirm.html.erb]</h2>
<h2>URL＞orders/confirm</h2