<!--<h1>Public::Orders#thanks</h1>-->
<!--<p>Find me in app/views/public/orders/thanks.html.erb</p>-->

<h2>ECサイト_注文完了（サンクス）画面 </h2>
<h2>所在＞app views public orders [thanks.html.erb]</h2>
<h2>URL＞orders/thanks</h2